<% tasks = @task_category.tasks.order(created_at: :desc) %>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_task_category_path(@task_category) %> |
<%= link_to 'Back', task_categories_path %>

<%= hidden_field :task_category, :id %>

<div class="clear"></div>

<div id="task_list_options" class="list_options_sidebar">
  These are options!
</div>
<div id="task_list" class="task_list">
  <%= render partial: "tasks/new_list_item" %>
  <%= render partial: "tasks/list_item", collection: tasks.select { |task| !task.is_complete} %>
  <%= render partial: "tasks/list_item", collection: tasks.select { |task| task.is_complete} %>
</div>
<div id="task_detail_sidebar" class="item_detail_sidebar">
  This is a task
</div>
<div class="clear"></div>
