<div class="list_item task_list_item existing_list_item<% if list_item.is_complete %> completed_task<% end %>">
  <%= hidden_field_tag "task_id_#{list_item.id}", list_item.id, class: "item_id" %>
  <div class="list_item_box">
    <div class="list_item_tag" style="background-color: <%= list_item.task_category.color %>;">|||</div>
    <div class="list_item_name existing_item_name">
      <%= list_item.name %>
      <div class="fade_out_right"></div>
      <div class="item_name_overlay edit_item_name_overlay hidden">
        <%= text_field_tag "edit item #{list_item.id} name", nil, class: "edit_item_name", placeholder: "Delete task if no name is present" %>
      </div>
    </div>
    <%= check_box_tag "task_complete_checkbox_#{list_item.id}", list_item.id, list_item.is_complete, class: "list_item_checkbox task_complete_checkbox" %>
    <a class="list_item_menu"><%= image_tag("expand_down.svg", size: "15x15") %></a>
  </div>
  <div class="add_sub_item_button">+</div>
</div>

