<!DOCTYPE html>
<html>
<head>
  <title>Schemer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="body_container">
  <div class="header">
    <div class="top_bar">
      <h1 class="align-center">Schemer</h1>
    </div>
  </div>
  <%= render "layouts/messages" %>
  <div class="small_form_box center">
    <%= yield %>
  </div>
</div>
  

</body>
</html>
